body {
  background-color: #2E3440;
  color: aliceblue; 
}

.title {
  padding-top: 75px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 72px;
  font-style: italic;
  font-family: sans-serif;
  color: blueviolet;
}

.body {
  text-align: center;
  font-size: 34px;
}

.socials {
  display: flex;
  /* gap: 15px; */
  /* background-color: #242931; */
  /* padding: 20px; */
  border-radius: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.social {
  width: 80px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-size: 20px;
}