body {
  background-image: url('/assets/doodad3.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue; 
}

.title {
  padding-top: 75px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 72px;
  font-style: italic;
  font-family: sans-serif;
  color: blueviolet;
}

.body {
  text-align: center;
  font-size: 34px;
}

.socials {
  display: flex;
  /* gap: 15px; */
  /* background-color: #242931; */
  /* padding: 20px; */
  border-radius: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.social {
  width: 80px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-style: italic;
  font-family: sans-serif;
}
.abouttitle {
  padding-top: 50px;
  text-align: center;
  font-size: 40px;
  font-style: italic;
  color: blueviolet;
  /* offset-x | offset-y | color */
  
    text-shadow: 4px 3px rgba(57, 152, 174, 0.177);
  }

.aboutbody {
    text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.aboutmebutton {
  background-color: rgba(240, 248, 255, 0);
  color: blueviolet;
  cursor: pointer;
  border: none;
  text-align: center;
  outline: none;
  padding-top: 50px;
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  display: block; margin: 0 auto;
  /*offset-x | offset-y | color */

  text-shadow: 4px 3px rgba(57, 152, 174, 0.177);
}